# 讀入資料

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('titanic.csv')

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.250,-,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,-,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.050,-,S

In [19]:
survived_df = pd.DataFrame()
survived_df['Name'] = df[df['Survived'] == 1]['Name']
survived_df['Name']

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
                             ...
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
887                         Graham, Miss. Margaret Edith
889                                Behr, Mr. Karl Howell
Name: Name, Length: 342, dtype: object

In [20]:
# 首先，創建一個新的空 DataFrame 或者根據 df 的結構創建一個新的 DataFrame
pclass1_df = pd.DataFrame()
pclass1_df['Name'] = df[df['Pclass'] == 1]['Name']
pclass1_set = set(pclass1_df['Name'])

In [33]:
pclass2_df = pd.DataFrame()
pclass2_df['Name'] = df[df['Pclass'] == 2]['Name']
pclass2_set = set(pclass2_df['Name'])

In [22]:
pclass3_df = pd.DataFrame()
pclass3_df['Name'] = df[df['Pclass'] == 3]['Name']
pclass3_df['Name']

0                       Braund, Mr. Owen Harris
2                        Heikkinen, Miss. Laina
4                      Allen, Mr. William Henry
5                              Moran, Mr. James
7                Palsson, Master. Gosta Leonard
                         ...
882                Dahlberg, Miss. Gerda Ulrika
884                      Sutehall, Mr. Henry Jr
885        Rice, Mrs. William (Margaret Norton)
888    Johnston, Miss. Catherine Helen "Carrie"
890                         Dooley, Mr. Patrick
Name: Name, Length: 491, dtype: object

In [23]:
pclass3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    491 non-null    object
dtypes: object(1)
memory usage: 7.7+ KB

In [24]:
# 將DataFrame轉換為集合
survived_set = set(survived_df['Name'])
pclass3_set = set(pclass3_df['Name'])

# 聯集 
<br><br>
(以下聯集、差及、交集的簡單示範均以pclass3_set做操作)

In [40]:
# 聯集
union_set = survived_set | pclass3_set

print("聯集結果：\n")
print("元素個數為: ", len(union_set), '\n')
print(list(union_set)[:20])

聯集結果：

元素個數為:  714

['Dimic, Mr. Jovan', 'Najib, Miss. Adele Kiamie "Jane"', 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'Celotti, Mr. Francesco', 'Longley, Miss. Gretchen Fiske', 'Harknett, Miss. Alice Phoebe', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'Johansson, Mr. Karl Johan', 'Slayter, Miss. Hilda Mary', 'Leader, Dr. Alice (Farnham)', 'Mernagh, Mr. Robert', 'Greenfield, Mr. William Bertram', 'Graham, Miss. Margaret Edith', 'Kenyon, Mrs. Frederick R (Marion)', 'Keane, Miss. Nora A', 'Bourke, Mr. John', 'Stone, Mrs. George Nelson (Martha Evelyn)', 'Mannion, Miss. Margareth', 'Adahl, Mr. Mauritz Nils Martin', 'van Billiard, Mr. Austin Blyler']

# 差集

In [41]:
# 差集
# survived_df 中有而 pclass3_df 中沒有的 pclass1 + pclass2 的存活名單
difference_set_survived = survived_set - pclass3_set
print("survived_df 中有而 pclass3_df 中沒有的差集：\n")
print("元素個數為: ", len(difference_set_survived), '\n')
print(list(difference_set_survived)[:20])

survived_df 中有而 pclass3_df 中沒有的差集：

元素個數為:  223

['Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'Longley, Miss. Gretchen Fiske', 'Richards, Mrs. Sidney (Emily Hocking)', 'Leitch, Miss. Jessie Wills', 'Harper, Mr. Henry Sleeper', 'Renouf, Mrs. Peter Henry (Lillian Jefferys)', 'Eustis, Miss. Elizabeth Mussey', 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'Trout, Mrs. William H (Jessie L)', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'Wells, Miss. Joan', 'Allison, Master. Hudson Trevor', 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'Daniel, Mr. Robert Williams', 'Slayter, Miss. Hilda Mary', 'Leader, Dr. Alice (Farnham)', 'Greenfield, Mr. William Bertram', 'Graham, Miss. Margaret Edith']

In [42]:
# pclass3_df 中有而 survived_df 中沒有的，i.e.pclass3的死亡名單
difference_set_pclass3 = pclass3_set - survived_set
print("pclass3_df 中有而 survived_df 中沒有的差集：\n")
print("元素個數為: ", len(difference_set_pclass3), '\n')
print(list(difference_set_pclass3)[:20])

pclass3_df 中有而 survived_df 中沒有的差集：

元素個數為:  372

['Dimic, Mr. Jovan', 'Celotti, Mr. Francesco', 'Harknett, Miss. Alice Phoebe', 'Johansson, Mr. Karl Johan', 'Mernagh, Mr. Robert', 'Bourke, Mr. John', 'Adahl, Mr. Mauritz Nils Martin', 'van Billiard, Mr. Austin Blyler', 'Andersson, Miss. Ellis Anna Maria', 'Morley, Mr. William', 'Kink, Mr. Vincenz', 'Klasen, Mr. Klas Albin', 'Elias, Mr. Dibo', 'Peduzzi, Mr. Joseph', 'Goodwin, Master. Sidney Leonard', 'Perkin, Mr. John Henry', 'Berglund, Mr. Karl Ivar Sven', 'Ling, Mr. Lee', 'Johnston, Miss. Catherine Helen "Carrie"', 'Lennon, Mr. Denis']

解讀: 此為Pclass3的死亡名單

# 交集

In [43]:
# 交集 pclass3的存活名單
intersection_set = survived_set & pclass3_set
print("交集結果：\n")
print("元素個數為: ", len(intersection_set), '\n')
print(list(intersection_set)[:20])

交集結果：

元素個數為:  119

['Najib, Miss. Adele Kiamie "Jane"', 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'Hedman, Mr. Oskar Arvid', 'Jonsson, Mr. Carl', 'Niskanen, Mr. Juha', 'Lindqvist, Mr. Eino William', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'Andersson, Miss. Erna Alexandra', 'O\'Leary, Miss. Hanora "Norah"', 'Stanley, Miss. Amy Zillah Elsie', 'Carr, Miss. Helen "Ellen"', 'Mannion, Miss. Margareth', 'Emanuel, Miss. Virginia Ethel', 'Kelly, Miss. Anna Katherine "Annie Kate"', 'Jussila, Mr. Eiriik', 'Barah, Mr. Hanna Assi', 'Nakid, Mr. Sahid', 'Dorking, Mr. Edward Arthur', 'Baclini, Mrs. Solomon (Latifa Qurban)', 'Chip, Mr. Chang']

# 分析

## 計算存活率

- Pclass1 存活率: 62.96%
- Pclass2 存活率: 47.28%
- Pclass3 存活率: 24.24%

In [29]:
def survive_rate(survived_set, pclass_set):
    intersection_set = survived_set & pclass_set
    
    surv_rate = (len(intersection_set)/len(pclass_set))
    return surv_rate

In [30]:
# Pclass1 存活率
survive_rate(survived_set, pclass1_set)

0.6296296296296297

In [34]:
# Pclass2 存活率
survive_rate(survived_set, pclass2_set)

0.47282608695652173

In [32]:
# Pclass3 存活率
survive_rate(survived_set, pclass3_set)

0.24236252545824846

### 結論

艙位越高級，存活率越高

# 各艙位死亡人數及名單

In [55]:
# pclass3_df 中有而 survived_df 中沒有的，i.e.pclass3的死亡名單
difference_set_pclass1 = pclass1_set - survived_set

print("Pclass1 的死亡人數為: ", len(difference_set_pclass1), '\n\n')

print('Pclass1 的死亡名單: ')
print(list(difference_set_pclass1)[:20])

Pclass1 的死亡人數為:  80


Pclass1 的死亡名單:
['Brewe, Dr. Arthur Jackson', 'Williams-Lambert, Mr. Fletcher Fellows', 'Cavendish, Mr. Tyrell William', 'Taussig, Mr. Emil', 'Guggenheim, Mr. Benjamin', 'Baxter, Mr. Quigg Edmond', 'Colley, Mr. Edward Pomeroy', 'Fortune, Mr. Mark', 'Kent, Mr. Edward Austin', 'Meyer, Mr. Edgar Joseph', 'Widener, Mr. Harry Elkins', 'Uruchurtu, Don. Manuel E', 'Lewy, Mr. Ervin G', 'Cairns, Mr. Alexander', 'Carrau, Mr. Francisco M', 'Clifford, Mr. George Quincy', 'Artagaveytia, Mr. Ramon', 'Reuchlin, Jonkheer. John George', 'Harris, Mr. Henry Birkhardt', 'Natsch, Mr. Charles H']

In [56]:
# pclass3_df 中有而 survived_df 中沒有的，i.e.pclass3的死亡名單
difference_set_pclass2 = pclass2_set - survived_set
print("Pclass2 的死亡人數為: ", len(difference_set_pclass2), '\n\n')


print('Pclass2 的死亡名單: ')
print(list(difference_set_pclass2)[:20])

Pclass2 的死亡人數為:  97


Pclass2 的死亡名單:
['Jarvis, Mr. John Denzil', 'Navratil, Mr. Michel ("Louis M Hoffman")', 'Turpin, Mr. William John Robert', 'Bateman, Rev. Robert James', 'Slemen, Mr. Richard James', 'Andrew, Mr. Edgardo Samuel', 'Kantor, Mr. Sinai', 'Cunningham, Mr. Alfred Fleming', 'Gill, Mr. John William', 'Fahlstrom, Mr. Arne Jonas', 'Hart, Mr. Benjamin', 'Sedgwick, Mr. Charles Frederick Waddington', 'Knight, Mr. Robert J', 'Parkes, Mr. Francis "Frank"', 'Gillespie, Mr. William Henry', 'Harris, Mr. Walter', 'Leyson, Mr. Robert William Norman', 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'Sjostedt, Mr. Ernst Adolf', 'Davies, Mr. Charles Henry']

In [57]:
# pclass3_df 中有而 survived_df 中沒有的，i.e.pclass3的死亡名單
difference_set_pclass3 = pclass3_set - survived_set
print("Pclass3 的死亡人數為: ", len(difference_set_pclass3), '\n\n')

print('Pclass3 的死亡名單: ')
print(list(difference_set_pclass3)[:20])

Pclass3 的死亡人數為:  372


Pclass3 的死亡名單:
['Dimic, Mr. Jovan', 'Celotti, Mr. Francesco', 'Harknett, Miss. Alice Phoebe', 'Johansson, Mr. Karl Johan', 'Mernagh, Mr. Robert', 'Bourke, Mr. John', 'Adahl, Mr. Mauritz Nils Martin', 'van Billiard, Mr. Austin Blyler', 'Andersson, Miss. Ellis Anna Maria', 'Morley, Mr. William', 'Kink, Mr. Vincenz', 'Klasen, Mr. Klas Albin', 'Elias, Mr. Dibo', 'Peduzzi, Mr. Joseph', 'Goodwin, Master. Sidney Leonard', 'Perkin, Mr. John Henry', 'Berglund, Mr. Karl Ivar Sven', 'Ling, Mr. Lee', 'Johnston, Miss. Catherine Helen "Carrie"', 'Lennon, Mr. Denis']